NEXT_PUBLIC_SUPABASE_URL=https://tomrhagnfilqfunehrzl.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=

RESEND_API_KEY=
CONTACT_TO_EMAIL=studio.collective@example.edu
CONTACT_FROM_EMAIL=Studio Collective <contact@example.edu>
CONTACT_REPLY_NAME=Studio Collective
