NEXT_PUBLIC_SUPABASE_URL=https://tomrhagnfilqfunehrzl.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
OFFICER_SHARED_PASSWORD=

RESEND_API_KEY=
CONTACT_TO_EMAIL=purdueartcommunity@example.edu
CONTACT_FROM_EMAIL=Purdue Art Community <contact@example.edu>
CONTACT_REPLY_NAME=Purdue Art Community
